{# ARTICLE INTRODUCTION #}
<div id="article-intro" class="top grid-x u-margin-top-huge u-margin-bottom-big text-center align-center-middle">
  {% for item in post.get_field('article_introduction') %}
    {% if item.acf_fc_layout == 'introduction_title' %}
      <div class="cell large-12" style="color:{{item.title_color}}">
        {{item.title}}
      </div>
      {% elseif item.acf_fc_layout == 'introduction_content' %}
      <div class="cell text-introduction">
        {{item.text}}
      </div>
    {% endif %}
  {% endfor %}
</div>