{# COLLEAGUES GRID #}
<div class="grid-x people-animation people__grid align-center" id="kumppanit-grid">
  {% for item in post.get_field('colleagues_grid') %}
    <div class="cell large-4 medium-6 small-6 people__grid--cell">
      <div class="people__grid--cell-1">
        <img class="lozad" alt="{{item.person_image.alt}}" data-src="{{(item.person_image.url|resize(500))}}"/>
      </div>
      <ul>
        <li class="text-body people__grid--cell-2">
          {{item.person_name}}
        </li>
        <li class="text-body people__grid--cell-3">
          {{item.person_info}}
        </li>
        <li class="grid-x people__grid--cell-6">
          {{item.social}}
        </li>
      </ul>
    </div>
  {% endfor %}
</div>
