{# same class layout than in gutemberg article listing block #}
<div class="more-posts--content mp-posts mp-posts-post">
  <div class="mp-posts-post-wrapper">
  {% for single_post in more_posts %}

    <a href="{{ site.link }}/{{ single_post.slug }}/" class="mp-posts-single mp-posts__single-post">
      <div class="featured-image-wrapper">
          <img src="{{ single_post.thumbnail.src|resize(800) }}" alt="Ajankohtaista">
      </div>
      <span class="post-meta">
        <span class="post-meta-author" aria-label="Author">
          {% set this_author = single_post.get_field("author") %}
          {{ this_author }}
          </span>
          <span class="post-meta-date" aria-label="Date">{{ single_post.post_date|date("d.m.Y") }}</span>
        </span>
      <h2>
        {{ single_post.post_title }}
      </h2>

      <p>
        {{ single_post.post_excerpt }}
      </p>

      </a>

  {% endfor %}
  </div>
</div>
