{# WE INTRODUCTION #}
<div id="we" class="top grid-x u-content-small text-center align-center-middle people">
    {% for item in post.get_field('we_introduction') %}
        {% if item.acf_fc_layout == 'introduction_title' %}
            <div class="cell large-12 medium-6" style="color:{{item.title_color}}">
                {{item.title}}
            </div>
        {% elseif item.acf_fc_layout == 'introduction_content' %}
            <div class="cell text-introduction">
                {{item.text}}
            </div>
        {% endif %}
    {% endfor %}
</div>