<div class="association-events">
    <div class="association--events--content">
    <div class="event-list">
        {% set current_cat_name = function('getCurrentPageFeaturedCatName', post.ID) %}
        {% for event in events %}
                {% set categories = event.terms('category') %}
                {% if function('associationCategoryFilterer', current_cat_name, categories) %}
                    <div><span class="event-date" aria-label="Date">{{ event.event_date|date("d.m.Y") }}</span></div>
                    <div><a href="{{ event.link }}" rel="noreferrer noopener">{{ event.post_title }}</a></div>
                    {% if categories %}
                        {% for category in categories %}
                            <button class="categorie-button">{{ category }}</button>

                        {% endfor %}
                    {% else  %}
                        <button class="categorie-button">Uncategorized</button>
                    {% endif  %}

                    {# <button class="categorie-button">{{ event.terms('category') | filter(v => v != 'Uncategorized') | join(', ') }}</button> #}

                    <hr class="separation-line">
                {% else %}
                    {# continue #}
                {% endif %}
        {% endfor %}

        </div>
    </div>
</div>