
{% extends "base.twig" %}
{% block content %}
          {% set header_image = association_header_image ? association_header_image : theme.link ~ '/resources/assets/images/pexels-bearded-texan-travels-5190258.jpg' %}
            <div class="banner-grid-event" style="background-image:url({{header_image}})">
            <div id="association-banner-opacity"></div>
            {% set pageTitle =  function('getAssociationMainPageTitles', associationMainPage) %}
            <div class="banner--titles">
            <h3 class="banner--maintitle association-title">{{pageTitle[0]}}</h3>
            <h4 class="banner--subtitle association-title">{{pageTitle[1]}}</h4>
            </div>

    </div>
    <div class="path-link">
      {% if 1 > 0 %}
        <span class="breadcrumbs"> {{ function('breadcrumbs') }} </p>
      {% endif %}
    </div>
    <div class="content-grid-sub-page">
            {# path Link example  #}
           <div class="sidebar-grid">
    <div id="div1" class="sidebar item-grid">
            <div class="sidebar--links ">
                {% if post.association_frontpage_id %}
                    <h5><a href="{{ TimberPost(post.association_frontpage_id).link }}" class="home-page-link" >{{association_subpage_title}}</a></h5>
                     {# {{post.post_parent|print_r}} #}
                    <hr class="link-separation-line">
                {% endif %}
                {% if post.children %}
                    {% for child in post.children %}
                        {# attached images show also, filter them out #}
                        {% if child.custom._wp_attached_file == undefined %}
                          <h5><a href="{{child.link}}" class="child-link" rel="noreferrer noopener">{{child.title}}</a></h5>
                          <hr class="link-separation-line">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="sidebar-details">
              <p class="sidebar-details--maintitle">{{pageTitle[0]}}</p>
              <p class="sidebar-details--subtitle">{{pageTitle[1]}}</p>
              {% if association_subpage_logo %}
                <img src="{{association_subpage_logo}}" alt="logo">
              {% endif %}
            </div>
    </div>
    <div id="div2" class="event-content-grid--columns-2 item-grid">
    </div>
</div>

        <div class="event-content-grid--columns-3">
            <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                <section class="article-content text-body">
                    <div class="single-event">
                            <div class="single-event--content">      
                                        {% include 'association-archive-events.twig' %}
                                       
                            </div>
                    </div>

                </section>
            </article>

        </div>
    </div>
{% endblock %}
