<div class="association-events">
    <div class="association--events--content">
    {% if association_upcoming_events %}
        <h2>Tulevia tapahtumia</h2>
         <div class="u-content-small-x">
                <div class="article-body">
                     <p>{{post.content}}</p>
                </div>
              </div>
            {% set current_cat_name = function('getCurrentPageFeaturedCatName', post.ID) %}
            {% set hasUpcomingEvents = false %}
            {% for upcomingEvent in association_upcoming_events %}
                    
                    {% set categories = upcomingEvent.terms('category') %}
                    {% if function('associationCategoryFilterer', current_cat_name, categories) %}
                        {% set hasUpcomingEvents = true %}
                        <div class="event-list">
                            <span class="event-date" aria-label="Date">{{ upcomingEvent.event_date|date("d.m.Y") }}</span>
                            <h4><a href="{{ upcomingEvent.link }}">{{ upcomingEvent.post_title }}</a></h4>
                            {% if categories %}
                                {% for category in categories %}
                                    <button class="categorie-button">{{ category }}</button>

                                {% endfor %}
                            {% else  %}
                                <button class="categorie-button">Uncategorized</button>
                            {% endif  %}

                            <hr class="separation-line">
                            </div>
                        {% else %}
                            {# continue #}
                        {% endif %}
            {% endfor %}

         {% endif %}
         {% if not hasUpcomingEvents %}
            <p>Ei tulevia tapahtumia.</p>
         {% endif %}

            {# {{events|print_r}} #}
    </div>
    <div class="association--events--content">
        {% if association_past_events %}
            <h2>Menneet tapahtumat</h2> 
                {% set current_cat_name = function('getCurrentPageFeaturedCatName', post.ID) %}
                  {% set hasPastEvents = false %}
                {% for pastEvent in association_past_events %}
                           
                        {% set categories = pastEvent.terms('category') %}
                        {% if function('associationCategoryFilterer', current_cat_name, categories) %}
                        {% set hasPastEvents = true %}
                        <div class="event-list">
                            <span class="event-date" aria-label="Date">{{ pastEvent.event_date|date("d.m.Y") }}</span>
                            <h4><a href="{{ pastEvent.link }}" rel="noreferrer noopener">{{ pastEvent.post_title }}</a></h4>
                            {% if categories %}
                                {% for category in categories %}
                                    <button class="categorie-button">{{ category }}</button>

                                {% endfor %}
                            {% else  %}
                                <button class="categorie-button">Uncategorized</button>
                            {% endif  %}

                            <hr class="separation-line">
                            </div>
                        {% else %}
                            {# continue #}
                        {% endif %}
                 
                {% endfor %}
        {% endif %}
           {% if not hasPastEvents %}
            <p>Ei menneitä tapahtumia.</p>
         {% endif %}

            {# {{events|print_r}} #}
    
    <div class="all-events show-more">
    <button>Näytä kaikki<img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-right.svg" alt="arrow left blue"></button>
    </div>
    </div>
</div>
