<div class="association-grid">
    <div id="div1" class="associations item-grid">
            <div class="associations--headline">
                <h1>{{post.title_fi}}</h1>
            </div>
            <div class="associations--links">
                {% for continent, frontpages in association_frontpages %}
                <ul>{{continent}}
                    {% for frontpage in frontpages %}
                        {% set associationTitle = associationMainPage ? associationMainPage : frontpage.post_title %}
                            {% set linkTitle =  function('getAssociationMainPageTitles', associationTitle) %}
                            <li><a href="{{frontpage.link}}" rel="noreferrer noopener">{{linkTitle[0]}}<br>{{linkTitle[1]}}</a></li>    
                            {% endfor %}    
                </ul>      
                {% endfor %}    
            </div>

    </div>
    <div id="div2" class="content-grid--columns-2 item-grid">
    </div>
</div>
    <div class="mobile">
            <div class="association-dropdown-row">
                <div class="associations--headline-col1">
                <h1>{{post.title_fi}}</h1>
                </div>
                <div class="mobile-dropdown-col2">
                    <button onclick="showDropdownAssociation()" class="dropbtn"><img src="{{theme.link}}/resources/assets/icons/arrow-down.svg" alt="arrow down" /></button>
                    <div id="mobile-dropdown" class="mobile-dropdown-association" >
                        <ul>      
                            {% for continent, frontpages in association_frontpages %}
                            <ul>{{continent}}
                          {% for frontpage in frontpages %}
                            <li><a href="{{frontpage.link}}" rel="noreferrer noopener">{{frontpage.post_title}}</a></li>
                            {% endfor %}  
                        </ul>      
                        {% endfor %}    
                                                  
                        </ul>
                    </div>
                </div>
            </div>
        <hr class="mobile-separation-line">
    </div>
<script>
function showDropdownAssociation() {
  document.getElementById("mobile-dropdown").classList.toggle("show");
}
</script>
    