
{% extends "base.twig" %}
{% block content %}
    {% set header_image = association_header_image ? association_header_image : theme.link ~ '/resources/assets/images/pexels-bearded-texan-travels-5190258.jpg' %}
    <div class="banner-grid-event" style="background-image:url({{header_image}})">
        <div id="association-banner-opacity"></div>
            {% set associationPageTitle = associationMainPage ? associationMainPage : post.title %}
            {% set pageTitle =  function('getAssociationMainPageTitles', associationPageTitle) %}
            {# {% set pageTitle =  function('getAssociationMainPageTitles', post.title) %} #}
            <div class="banner--titles">
            <h3 class="banner--maintitle association-title">{{pageTitle[0]}}</h3>
            <h4 class="banner--subtitle association-title">{{pageTitle[1]}}</h4>
            </div>

    </div>
    <div class="path-link">
      {% if 1 > 0 %}
        <span class="breadcrumbs"> {{ function('breadcrumbs') }} </p>
      {% endif %}
    </div>
    <div class="content-grid-sub-page">
            {# path Link example  #}
           <div class="sidebar-grid">
    <div id="div1" class="sidebar item-grid">
            <div class="sidebar--links">
                {% if post.association_frontpage_id %}
                   <a href="{{ TimberPost(post.association_frontpage_id).link }}" class="home-page-link">{{association_subpage_title}}</a>
                    <hr class="link-separation-line">
                {% endif %}
                {% if post.children %}
                <ul>
                    {% for child in post.children %}
                      {# attached images show also, filter them out #}
                      {% if child.custom._wp_attached_file == undefined %}
                       <li><a href="{{child.link}}" class="child-link">{{child.title}}</a></li>
                        <hr class="link-separation-line">
                      {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="sidebar-details">
              <p class="sidebar-details--maintitle">{{pageTitle[0]}}</p>
              <p class="sidebar-details--subtitle">{{pageTitle[1]}}</p>
              {% if association_subpage_logo %}
                <img src="{{association_subpage_logo}}" alt="logo">
              {% endif %}
            </div>
            
    </div>
    <div id="div2" class="event-content-grid--columns-2 item-grid">
    </div>
</div>
        <div class="event-content-grid--columns-3">
            <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                <section class="article-content text-body">
                    <div class="single-event">
                            <div class="association--content">
                                         <h1>{{post.title}}</h1>
                                        <div class="u-content-small-x">
                                            <div class="article-body">
                                                <p>{{post.content}}</p>
                                            </div>
                                        </div>
                                        {# check if we are on association front page, show news.. #}
                                        {% if (post.ID == post.current_association_front_page_id) %}
                                        <div class="events-div"><h2>{{post.upcoming_events_title}}</h2></div>
                                        {% include 'association-events.twig' %}
                                        <div class="all-events">
                                            {% set eventsLink = association_events_url ? association_events_url : TimberPost(post.association_frontpage_id).link ~ '/tapahtumat' %}
                                            <p><a href="{{eventsLink}}" rel="noreferrer noopener" >Kaikki tapahtumat<img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-right.svg" alt="arrow left blue"/></a></p>
                                        </div>
                                        {# News list  #}
                                        <div class="news-div"><h2>{{post.association_news_title}}</h2></div>
                                        {% include 'association-news.twig' %}
                                         <div class="all-news">
                                            {% set newsLink = association_news_url ? association_news_url : TimberPost(post.association_frontpage_id).link ~ '/uutiset' %}
                                            <p><a href="{{newsLink}}" rel="noreferrer noopener" >Kaikki uutiset<img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-right.svg" alt="arrow dark blue right" /></a></p>
                                        </div>
                                        {% endif %}


                                    {# {{events|print_r}} #}
                            </div>
                    </div>

                </section>
            </article>

        </div>
    </div>
{% endblock %}


