<div class="association-news">
    <div class="association-news--headline">
    </div>
    <div class="association--news--content">
            {% set current_cat_name = function('getCurrentPageFeaturedCatName', post.ID) %}
                {% set hasPostNews = false %}
            {% for newsItem in news %}
                {% set categories = newsItem.terms('category') %}
                {% if function('associationCategoryFilterer', current_cat_name, categories) %}
                {% set hasPostNews = true %}
                <div class="news-list">
                <div><span class="event-date" aria-label="Date">{{ newsItem.post_date|date("d.m.Y") }}</span></div>
                <div><a href="{{ newsItem.link }}" rel="noreferrer noopener">{{ newsItem.post_title }}</a></div>
                {% if categories %}
                    {% for category in categories %}
                        <button class="categorie-button">{{ category }}</button>

                    {% endfor %}
                {% else  %}
                    <button class="categorie-button">Uncategorized</button>
                {% endif  %}
                <hr class="separation-line">
                </div>
                {% else %}
                    {# continue #}
                {% endif %}
            {% endfor %}
             {% if not hasPostNews %}
            <p>Ei ole uutisia.</p>
            {% endif %}
   
    <div class="all-news show-more-news">
        <button>Lataa lisää<img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-right.svg" /></button>
    </div>
</div>
</div>

