{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
    <div class="base-container">
	    {% include "parallax.twig" %}
                <div class="container" id="main-container">
                        {% include "menu.twig" %}

                    <div id="app" class="container">
                        {% block content %}
                                Sorry, no content
                        {% endblock %}
                    </div>
            </div>

            {% block footer %}
			<footer id="footer">
			{% include 'footer.twig' %}
			</footer>
            {# <script src="{{theme.link}}/resources/assets/js/flexslider.js"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
			{{ function('wp_footer') }}
		{% endblock %}
    </div>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    {% include "menu-mobile.twig" %}
     
</body>
</html>
