    <div class="footer-content-row">
        <div class="footer-row--1">
            <div class="footer-column--1">
                <div class="footer-logo">
                    {% set footer_logo = options.footer_logo.url ? options.footer_logo.url : theme.link ~ '/resources/assets/images/Kauppayhdistykset-logo-footer-05-05.svg' %}
                    <img src="{{footer_logo}}" alt="footer-logo" />

                </div>
                <div class="footer-address">
                        <p>{{ options.footer_address }}</p>
                </div>
                <div class="footer-contact-link">
                        <a href="{{ options.contact_link.url }}">{{ options.contact_link.title }}<img src="{{theme.link}}/resources/assets/icons/arrow-right-white.svg" alt="arrow right image"/></a>
                </div>
                <div class="social-media-links">
                        <div class="social-media--some-text">
                            <span>{#{{ options.social-media-text}}#}Seuraa meitä:</span>
                        </div>
                        <div class="social-media--some-icons">
                            <a href="{{ options.twitter_link.url }}" {{ options.twitter_link.target ? 'target="_blank"' : '' }}><img src="{{theme.link}}/resources/assets/images/twitter_white.svg" alt="{{options.twitter_link.title}}"></a>
                            <a href="{{ options.facebook_link.url }}" {{ options.facebook_link.target ? 'target="_blank"' : '' }}><img src="{{theme.link}}/resources/assets/images/facebook_white.svg" alt="{{options.facebook_link.title}}"></a>
                            <a href="{{ options.linkedin_link.url }}" {{ options.linkendin_link.target ? 'target="_blank"' : '' }}><img src="{{theme.link}}/resources/assets/images/linkedin_white.svg" alt="{{options.linkedin_link.title}}"></a>
                        </div>
                </div>
                <div class="footer-privacy-link">
                    <a href="{{options.privacy_link.url }}">{{ options.privacy_link.title }}<img src="{{theme.link}}/resources/assets/icons/arrow-right-white.svg" alt="arrow right white"/></a>
                 </div>
            </div>
            {#
            <!-- <a href="{{ function('pll_e', 'Yhteystiedot Link') }}">{{ function('pll__', 'Yhteystiedot') }}</a>-->
            #}
            <div class="footer-column--2">
                <div class="footer-first-text">
                    <p>{{ options.footer_first_text }}</p>
                </div>
                <div class="footer-second-text">
                    <p>{{ options.footer_second_text }}</p>
                </div>
            </div>
            <div class="footer-column--3">
                <img class="footer-image" src="{{ theme.link }}/resources/assets/images/KKK-ratas.svg" alt="footer image"/>
            </div>
        </div>
        {% set footer_image = options.footer_default_image.url ? options.footer_default_image.url : theme.link ~ '/resources/assets/images/Footer-image.png' %}
        {# if association footer image is set and loaded #}
        {% if (association_footer_image) %}
        {% set footer_image = association_footer_image ? association_footer_image : footer_image %}
        {% endif %}

        <div class="footer-row-image" style="background-image:url({{footer_image}})">
         </div>
    </div>

