{% extends "base.twig" %}
{% block content %}
  <div class="u-padding-side">
    <div class="u-content">
      <div
        id="etusivu">
        {# HEADLINE AND BACKGROUND IMAGE #}
        {% set img = post.get_field('background_image') %}
        <div class="headline-container" style="background-image:url({{img.url|resize(1380)}})">
          <div class="headline">
            {% for item in post.get_field('headline') %}
              {% if item.acf_fc_layout == 'text_row_1' %}
                <span class="l1">
                  <div class="headline-item headline-gold" style="color:{{item.text_color}}">
                    {{item.text}}
                  </div>
                </span>
                {% elseif item.acf_fc_layout == 'text_row_2' %}
                <span class="l1">
                  <div class="headline-item headline-white" style="color:{{item.text_color}}">
                    {{item.text}}
                  </div>
                </span>
                {% elseif item.acf_fc_layout == 'text_row_3' %}
                <span class="l1">
                  <div class="headline-item headline-gold-2" style="color:{{item.text_color}}">
                    {{item.text}}
                  </div>
                </span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {# HIGHLIGHTS #}
        <div id="highlight-section" lass="highlights u-margin-bottom-medium">
          {% for item in post.get_field('main_picks') %}
            {% include "components/highlights.twig" %}
          {% endfor %}
        </div>
      </div>
      {# PROJECT GRID LIST #}
      <div id="projektit" class="project__section">
        <div id="project-intro" class="top u-content-small text-center project-intro">
          {{options.project}}
        </div>
        <div id="project__grid">
          <projects data-posttype="project" data-perpage="12"></projects>
        </div>
      </div>
      <!-- /u-content -->
    </div>
    <!-- /u-padding-side -->
  </div>
  {# SERVICES GRID LIST #}
  {% include "components/service-grid-list.twig" %}
  <div class="u-padding-side">
    <div
      class="u-content">
      {# WE INTRODUCTION #}
      <section id="tekijat">
        {% include "components/we-introduction.twig" %}
        {# PEOPLE GRID #}
        {% include "components/people-grid-list.twig" %}
        {# COLLEAGUES INTRODUCTION #}
        {% include "components/colleagues-introduction.twig" %}
        {# COLLEAGUES GRID #}
        {% include "components/colleagues-grid-list.twig" %}
      </section>
      <section
        id="artikkelit">
        {# ARTICLE INTRODUCTION #}
        {% include "components/article-introduction.twig" %}
        {# ARTICLE GRID #}
        {% include "components/article-grid-list.twig" %}
      </div>
      <!-- /u-content -->
    </div>
    <!-- /u-padding-side -->
  </div>
  <!-- /content-wrapper -->
{% endblock %}
