
<div class="desktop-banner">
<div class="banner-grid" style="background-image:url({{Image(post.banner).src}})">
    <div id="opacity-col-fi" class="opacity-col-fi"></div>
    <div class="banner-col-fi">
        <div class="banner-grid--headline-fi">
            <h1>{{post.title_fi}}</h1>
        </div>
        <div class="banner-grid--pretext-fi">
            <p>{{post.content_fi}}</p>
        </div>
        <div class="banner-grid--button">
            <button class="banner-grid--button-fi"><a href="{{ post.link_fi.url }}">{{post.link_fi.title}}<img src="{{theme.link}}/resources/assets/icons/arrow-right.svg"  alt="arrow right"/></a></button>
        </div>
    </div>
    <div id="opacity-col-en" class="opacity-col-en"></div>
    <div class="banner-col-en">
        <div class="banner-grid--headline-en">
            <h1>{{post.title_en}}</h1>
        </div>
        <div class="banner-grid--pretext-en">
            <p>{{post.content_en}}</p>
        </div>
        <div class="banner-grid--button">
            <button  class="banner-grid--button-en"><a href="{{ post.link_en.url }}">{{post.link_en.title}}<img src="{{theme.link}}/resources/assets/icons/arrow-right.svg" alt="arrow right" /></a></button>
        </div>
    </div>
</div>
</div>
<div class="mobile-banner">
<div class="banner-grid" style="background-image:url({{Image(post.banner).src}})">
    <div id="opacity-col"></div>
    <div class="banner-col">
    <div class="banner-col-fi">
        <div class="banner-grid--headline-fi">
            <h1>{{post.title_fi}}</h1>
        </div>
        <div class="banner-grid--pretext-fi">
            <p>{{post.content_fi}}</p>
        </div>
        <div class="banner-grid--button">
            <button  class="banner-grid--button-en"><a href="{{ post.link_fi.url }}" class="banner-grid--button-fi">{{post.link_fi.title}}<img src="{{theme.link}}/resources/assets/icons/arrow-right.svg" alt="arrow right"/></a></button>
        </div>
    </div>
    <div class="banner-col-en">
        <div class="banner-grid--headline-en">
            <h1>{{post.title_en}}</h1>
        </div>
        <div class="banner-grid--pretext-en">
            <p>{{post.content_en}}</p>
        </div>
        <div class="banner-grid--button">
            <button  class="banner-grid--button-en"><a href="{{ post.link_en.url }}" class="banner-grid--button-en">{{post.link_en.title}}<img src="{{theme.link}}/resources/assets/icons/arrow-right.svg" alt="arrow right" /></a></button>
        </div>
    </div>
    </div>
</div>
</div>

