{% extends "base.twig" %}

{% block content %}

    {% include 'header-banner.twig' %}

    <div class="content-grid-home-page container">
            {# Associations Link  #}
            {% include 'association-links.twig' %}
        <div class="content-grid--columns-3">
            <div class="associations-introduction">
            <p>{{ post.associations_introduction }}</p>
            {#{% include 'association-introduction.twig' %}#}
            </div>

             {# Events list  #}
            <div class="association-events--headline">
                <h1>{{post.upcoming_events_title}}</h1>
            </div>
            <div class="association-events">
            <div class="association--events--content">
            <div class="event-list">
                {% set current_cat_name = function('getCurrentPageFeaturedCatName', post.ID) %}
                {% for upcomingevent in upcoming_events_list %}
                        {% set categories = upcomingevent.terms('category') %}
                        {% if function('associationCategoryFilterer', current_cat_name, categories) %}
                            <div><span class="event-date" aria-label="Date">{{ upcomingevent.event_date|date("d.m.Y") }}</span></div>
                            <div><a href="{{ upcomingevent.link }}" rel="noreferrer noopener">{{ upcomingevent.post_title }}</a></div>
                            {% if categories %}
                                {% for category in categories %}
                                    <button class="categorie-button">{{ category }}</button>

                                {% endfor %}
                            {% else  %}
                                <button class="categorie-button">Uncategorized</button>
                            {% endif  %}

                            {# <button class="categorie-button">{{ event.terms('category') | filter(v => v != 'Uncategorized') | join(', ') }}</button> #}

                            <hr class="separation-line">
                        {% else %}
                            {# continue #}
                        {% endif %}
                {% endfor %}

                </div>
            </div>
        </div>

            {# News list  #}
            <div class="association-news--headline">
            <h1>{{post.association_news_title}}</h1>
            </div>
            {% include 'association-news.twig' %}
            <div class="association-citation">
                    <div class="citation-slides">
                    <div id="controls">
                    <button class="slick-next"><img src="{{theme.link}}/resources/assets/icons/arrow-light-blue-right.svg" alt="arrow light blue"/></button>
                    <button class="slick-prev"><img src="{{theme.link}}/resources/assets/icons/arrow-light-blue-left.svg"  alt="arrow light blue" /></button>
                    </div>
                    <div class="div-vertical-line">
                    <div class="vertical-line"></div>
                    </div>
                    {# {% set quotes = post.get_field('quotes') %} #}
                    <ul class="citation-slide-container">
                        {% for item in post.meta('association_citations') %}
                        <li>
                        <div class="citation-content">
                            <h3> {{ item.citation_content }}</h3>
                            <p class="author">{{ item.citation_author }}</p>
                        </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>


                {#{% include 'association-citation.twig' %}#}
            </div>
        </div>
    </div>
{% endblock %}
