<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
{% set titleTag = wp_title ?? site.name %}
    <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}"/>
        <title>{{titleTag|striptags}}</title>
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
        <link rel="pingback" href="{{ site.pingback_url }}"/>

        <script type="text/javascript">
            var THEME_LINK = '{{ theme.link }}';
            var BASE_URL = '{{ site.link }}';
        </script>


        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/resources/assets/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.theme.link }}/resources/assets/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/resources/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/resources/assets/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/resources/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="{{ site.theme.link }}/resources/assets/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ site.theme.link }}/resources/assets/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="shortcut icon" href="{{ site.theme.link }}/resources/assets/icons/favicon.ico">

        {% if '.local' in site.link or 'dev.mediapool' in site.link %}
          <!-- No google analytics in local dev -->
        {% else %}
          <!-- goole tag enabled in live site -->
          <!-- Global site tag (gtag.js) - Google Analytics -->


          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26707137-14"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-26707137-14');
          </script>


        {% endif %}


        {{function('wp_head')}}
