 <div id="overlay">
            <div id="association-logo">
                  <a href="{{ site.link }}"><img src="{{theme.link}}/resources/assets/images/Kauppayhdistykset-logo-header-04.svg" alt="logo"></a>
		    </div>
            <div class="div2">

                  {% if menu %}
                      <ul>
                          <li class="home-page-link"><a href="{{ site.link }}" class="">Etusivu</a>
                          </li>
                          {% for item in menu.items %}
                          <li class="" >
                            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                             {% if item.children %}
                                <div class="mobile-dropdown">
                                  <button onclick="showDropdown()" class="dropbtn"><img src="{{theme.link}}/resources/assets/icons/arrow-down.svg" alt="arrow down"/></button>
                                    <div id="mobile-dropdown-list" class="mobile-dropdown-content" >
                                      {% for continent, frontpages in association_frontpages %}
                                      <ul>{{continent}}
                                          {% for frontpage in frontpages %}
                                            {# set associationTitle = associationMainPage ? associationMainPage : frontpage.post_title #}
                                            {% set linkTitle =  function('getAssociationMainPageTitles', frontpage.post_title) %}
                                            <li><a href="{{frontpage.link}}">{{linkTitle[0]}}<br>{{linkTitle[1]}}</a></li>

                                          {% endfor %}
                                      </ul>
                                      {% endfor %}

                                </div>
                                {% endif %}
                          </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
            </div>
            <div class="mobile-header-buttons">
            <a href="{{ TimberPost(64).link }}"><button class="mobile-member-button-fi">Liity jäseneksi </button></a>
            <a href="{{ TimberPost(6143).link }}"><button class="mobile-member-button-en">Join as a member</button></a>
            <img class="mobile-finncham-logo" src="{{theme.link}}/resources/assets/images/Finncham-logo.svg" alt="finncham"></a>
            </div>
  </div>

<script>

function showDropdown() {
  document.getElementById("mobile-dropdown-list").classList.toggle("show");
}
</script>
