{% block header %}
<header class="header-grid container header main-header grid-container">
          <div class="header-row--first ">
                <div id="association-logo">
                  <a href="{{ site.link }}"><img src="{{theme.link}}/resources/assets/images/Kauppayhdistykset-logo-header-04.svg" alt="logo"></a>
		            </div>
                <div id="finncham-logo">
                  <img src="{{theme.link}}/resources/assets/images/Finncham-logo.svg" alt="finncham"></a>
				        </div>

          </div>

          <div class="header-row--last">
              <div class="header-menu">
                  {% if menu %}
                      <div id="nav-main" class="nav-main" role="navigation">
                        <ul>
                          {% for item in menu.items %}
                          <li class="dropdown menu-item {{ item.classes|join(' ') }}">
                            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                              {% if item.children %}
                                  <img class="arrow-down" src="{{theme.link}}/resources/assets/icons/arrow-down.svg" alt="arrow down" />
                                  <ul class="dropdown-content">      
                                      {% for continent, frontpages in association_frontpages %}
                                      <ul>{{continent}}
                                          {% for frontpage in frontpages %}
                                            {% set linkTitle = function('getAssociationMainPageTitles', frontpage.post_title) %}
                                            <li><a href="{{frontpage.link}}">{{linkTitle[0]}}<br>{{linkTitle[1]}}</a></li>                                         

                                          {% endfor %}    
                                      </ul>      
                                      {% endfor %}    
                                                  
                                  </ul>
                                {% endif %}
                          </li>
                          {% endfor %}
                      </ul>
                      </div>
                  {% endif %}
            </div>
            <div class="header-buttons">
            <a href="{{ TimberPost(64).link }}"><button class="member-button-fi">Liity jäseneksi </button></a>
            <a href="{{ TimberPost(6143).link }}"><button class="member-button-en">Join as a member</button></a>
            </div>
        </div>
    </header>
{% endblock header %}
