<div class="parallax__items">
  <div class="parallax_item parallax_item-1" data-rellax-speed="5" data-rellax-zindex="1" style="background-image: url({{ theme.link }}/resources/assets/images/bg-parallax-ratas.svg);">
  </div>
  <div class="parallax_item parallax_item-2" data-rellax-speed="5" data-rellax-zindex="1" style="background-image: url({{ theme.link }}/resources/assets/images/bg-parallax-pink.svg);">
  </div>
  <div class="parallax_item parallax_item-3" data-rellax-speed="5" data-rellax-zindex="1" style="background-image: url({{ theme.link }}/resources/assets/images/bg-parallax-beige.svg);">
  </div>
  <div class="parallax_item parallax_item-4" data-rellax-speed="5" data-rellax-zindex="1" style="background-image: url({{ theme.link }}/resources/assets/images/bg-parallax-circle.svg);">
  </div>