<div class="sidebar-grid">
    <div id="div1" class="sidebar item-grid">
            <div class="sidebar--links">
                <div class="sidebar--links">
                  <a href="{{ TimberPost(event_association_id).link }}" class="home-page-link">{{subpage_title_for_one_categorie}}</a>
                  <hr class="link-separation-line">
                {% for child in associationChildPages %}
                  {# attached images show also, filter them out #}
                  {% if child.custom._wp_attached_file == undefined %}
                    <h5><a href="{{child.link}}" class="child-link">{{child.title}}</a></h5>
                    <hr class="link-separation-line">
                  {% endif %}
                {% endfor %}
              </div>
              <div class="sidebar-details">
                <p class="sidebar-details--maintitle">{{pageTitle[0]}}</p>
                <p class="sidebar-details--subtitle">{{pageTitle[1]}}</p>
                {% if association_subpage_logo %}
                  <img src="{{association_subpage_logo}}" alt="logo">
                {% endif %}
              </div>
           </div>
    </div>
    <div id="div2" class="event-content-grid--columns-2 item-grid">
    </div>
</div>
