
{# last case resolve template  #}

{% extends "base.twig" %}
{% block content %}
    {% if event_association_id %}
    {% set header_image = association_header_image ? association_header_image : theme.link ~ '/resources/assets/images/pexels-bearded-texan-travels-5190258.jpg' %}
    <div class="banner-grid-event" style="background-image:url({{header_image}})">
        {% set pageTitle =  function('getAssociationMainPageTitles', associationMainPage) %}
            <div class="banner--titles">
            <h3 class="banner--maintitle association-title">{{pageTitle[0]}}</h3>
            <h4 class="banner--subtitle association-title">{{pageTitle[1]}}</h4>
            </div>
    </div>
    <div class="path-link">
        {% if 1 > 0 %}
          <span class="breadcrumbs"> {{ function('breadcrumbs') }} </p>
        {% endif %}
    </div>
    <div class="content-grid-sub-page">
        {% include 'sidebar.twig' %}
        <div class="event-content-grid--columns-3">
            <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                <section class="article-content text-body">
                    <div class="single-event">
                            <div class="single-event--content">
                                        <div class="single-event--date--cat"><span aria-label="Date">{{ post.event_date|date("d.m.Y") }}</span></div>
                                       <div class="single-event--date--cat"><span>{{ post.terms('category') | filter(v => v != 'Uncategorized') | join(', ') }}</span></div>
                                        <h2>{{ post.post_title }}</h2>
                                        <div class="u-content-small-x">
                                            <div class="article-body">
                                                <p>{{post.content}}</p>
                                            </div>
                                        </div>

                                        <div class="link-all-events">
                                           {% if association_events_url %}
                                           <p><a href="{{association_events_url}}" class="backlink-event"><img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-left.svg" alt="arrow left blue" />Takaisin tapahtumat-sivulle </a></p>
                                           {% endif %}
                                        </div>


                                    {# {{events|print_r}} #}
                            </div>
                    </div>

                </section>
            </article>

        </div>
    </div>

    {% else %}
    <div class="default-container">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
      <section class="article-content text-body">
       <div class="single-event">
                            <div class="single-event--content">
                                        <div class="single-event--date--cat"><span aria-label="Date">{{ post.event_date|date("d.m.Y") }}</span></div>
                                       <div class="single-event--date--cat"><span>{{ post.terms('category') | filter(v => v != 'Uncategorized') | join(', ') }}</span></div>
                                        <h2>{{ post.post_title }}</h2>
                                        <div class="u-content-small-x">
                                            <div class="article-body">
                                                <p>{{post.content}}</p>
                                            </div>
                                        </div>

                                        <div class="link-all-events">
                                            {#
                                            <p><a href="{{site.link}}/tapahtumat" class="backlink-event"><img class="arrow-left-blue" src="{{theme.link}}/resources/assets/icons/arrow-dark-blue-left.svg" alt="arrow left blue" />Takaisin tapahtumat-sivulle </a></p>
                                            #}
                                        </div>


                                    {# {{events|print_r}} #}
                            </div>
                    </div>
      </section>
    </article>
    </div>
    {% endif %}
{% endblock %}
