<template>
  <div>
    <transition-group name="list" tag="div">
      <div
        v-for="(post, index) in posts"
        :key="post.id"
        class="cell align-center large-12 article grid-x"
        style="flex-direction: column;"
      >
        <ArticlesItem :post="post" :index="index"></ArticlesItem>
        <div v-if="index != posts.length - 1" class="u-divider-vertical cell"></div>
      </div>
    </transition-group>

    <div v-if="showLoadMore" id="more-2" class="more-component">
      <div class="animation-line"></div>
    </div>

    <div v-if="showLoadMore">
      <a 
        tabindex="0"
        @click="loadMore"
        class="btn-vue grid-x align-center-middle u-margin-bottom-big article-more"
      >Näytä lisää</a>
    </div>

    <div class="vue-buffer" v-if="!showLoadMore"></div>
  </div>
</template>

<script>
import ArticlesItem from "./ArticlesItem";

export default {
  components: {
    ArticlesItem
  },
  props: ["exclude"],
  data() {
    return {
      posts: [],
      postsPerPage: 5,
      offset: 0,
      showLoadMore: true,
      queryBase: window.BASE_URL + "/wp-json/wp/v2/"
    };
  },
  mounted: function() {
    this.listingType = this.$el.getAttribute("data-posttype");
    this.postsPerPage = 5;
    Promise.all([this.fetchPosts()]).then(([postData, categoryData]) => {
      this.posts = this.createPosts(postData);
    });
  },
  watch: {},
  computed: {
    postQuery() {
      let query =
        this.queryBase +
        this.listingType +
        "?per_page=" +
        this.postsPerPage +
        "&" +
        "exclude=" +
        this.exclude +
        "&offset=" +
        this.offset +
        "&_embed";
      return query;
    },
    perPage() {
      return this.postsPerPage;
    }
  },
  methods: {
    createPosts(postData) {
      let posts = [];
      postData.forEach(post => {
        let simplePost = this.createPostObject(post);
        posts.push(simplePost);
      });
      return posts;
    },
    createPostObject(post) {

      let altTxt = post._embedded['wp:featuredmedia'][0] ? post._embedded['wp:featuredmedia'][0].alt_text : " ";

      return {
        id: post.id,
        url: post.link,
        thumbnail: post.featured_image_src,
        alt: altTxt,
        date: post.date,
        excerpt: post.excerpt,
        title: post.title,
        author: post._embedded.author[0].name,
        avatarURL: post._embedded.author[0].mpp_avatar[48],
        link: post.link
      };
    },
    fetchPosts() {
      return fetch(this.postQuery)
        .then(response => {
          let totalPosts = response.headers.get("X-WP-Total");
          this.showLoadMore =
            this.offset + this.postsPerPage < totalPosts ? true : false;
          return response.json();
        })
        .catch(error => console.error("error: " + error));
    },
    loadMore() {
      this.offset += this.postsPerPage;
      this.fetchPosts().then(postData => {
        let posts = this.createPosts(postData);
        this.posts = this.posts.concat(posts);
      });
    }
  }
};
</script>
<style scoped>
.btn-vue:focus {
  outline: 0;
}
.vue-buffer {
  margin-bottom: 4rem;
  width: 100%;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-leave-to, .list-enter /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-enter-to,
.list-leave {
  opacity: 1;
  transform: translateY(0);
}
a:focus{
    border: 1px solid;
}
</style>
