<template>
  <a class="article-a" v-bind:href="post.link">
    <div class="article-wrap large-12 grid-x">
      <div class="article__thumbnail cell large-3 medium-3 lozad" :style="{ backgroundImage: bgImageUrl }"></div>
      <div class="cell article__text large-7 medium-7">
        <h3 class="article__text-title" v-html="title"></h3>
        <div v-html="excerpt" class="article__text-content"></div>
        <div class="article__text-meta flex-container">
          <div class="article-author-avatar-vue" :style="{ backgroundImage: avatarImageUrl }"></div>
          <div class="article-meta-container">
            <div class="article__text-meta-name">{{post.author}}</div>
          </div>
          <div class="u-divider-small-2"></div>
          <div class="article__text-meta-date">{{date}}</div>
        </div>
      </div>
    </div>
  </a>
</template>
<script>
const monthNames = [
  "Tammikuu",
  "Helmikuu",
  "Maaliskuu",
  "Huhtikuu",
  "Toukokuu",
  "Kesäkuu",
  "Heinäkuu",
  "Elokuu",
  "Syyskuu",
  "Lokakuu",
  "Marraskuu",
  "Joulukuu"
];

export default {
  props: ["post", "index"],
  data: function() {
    return {};
  },
  computed: {
    bgImageUrl() {
      return this.post.thumbnail ? `url(${this.post.thumbnail})` : "";
    },
    avatarImageUrl() {
      return this.post.avatarURL ? `url(${this.post.avatarURL})` : "";
    },
    date() {
      let date = new Date(this.post.date);
      let month = monthNames[date.getMonth()];
      return month + " " + date.getUTCDate() + ", " + date.getFullYear();
    },
    thumbnail() {
      let thumbnail = this.post.thumbnail;
      return thumbnail;
    },
    excerpt() {
      let excerpt;
      if (this.post.excerpt) {
        excerpt = this.post.excerpt.rendered;
      } else {
        excerpt = "";
      }
      return excerpt;
    },
    title() {
      let title;
      if (this.post.title) {
        title = this.post.title.rendered;
      } else {
        title = "";
      }
      return title;
    },
  },
  methods: {}
};

</script>
<style scoped>
.article-wrap {
  justify-content: center;
  max-width: 114.7rem;
}

.article-author-avatar-vue {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48px;
  width: 48px;
}

</style>
