<template>
  <div>
    <transition-group name="list" tag="div" class="grid-x project__grid">
      <div
        v-for="(post, index) in project"
        :key="post.id"
        class="cell large-4 medium-6 project__grid-cell"
      >
        <ProjectsItem :post="post" :index="index"></ProjectsItem>
      </div>
    </transition-group>

    <div v-if="showLoadMore" id="more-1" class="more-component">
      <div class="animation-line"></div>
    </div>

    <div v-if="showLoadMore" class="more-wrap">
      <a @click="loadMore" tabindex="0" class="btn-vue project-more">Näytä lisää</a>
    </div>

    <div class="vue-buffer" v-if="!showLoadMore"></div>
  </div>
</template>

<script>
import ProjectsItem from "./ProjectsItem";

export default {
  components: {
    ProjectsItem
  },
  data() {
    return {
      project: [],
      offset: 0,
      showLoadMore: true,
      baseUrl: window.BASE_URL,
      queryBase: window.BASE_URL + "/wp-json/wp/v2/",
      postsPerPage: 12
    };
  },
  mounted: function() {
    this.listingType = this.$el.getAttribute("data-posttype");
    this.postsPerPage = 12;
    Promise.all([this.fetchPosts()]).then(([postData]) => {
      this.project = this.createPosts(postData);
    });
  },
  watch: {},
  computed: {
    postQuery() {
      let query =
        this.queryBase +
        this.listingType +
        "?per_page=" +
        this.postsPerPage +
        "&" +
        "offset=" +
        this.offset +
        "&_embed";
      return query;
    },
    perPage() {
      return this.postsPerPage;
    }
  },
  methods: {
    createPosts(postData) {
      let posts = [];
      postData.forEach(post => {
        let simplePost = this.createPostObject(post);
        posts.push(simplePost);
      });
      return posts;
    },
    createPostObject(post) {
      return {
        id: post.id,
        title: post.project_thumbnail_description[0].project_title,
        url: post.link,
        thumbnail: post.project_thumbnail.sizes.medium_large,
        alt: post.project_thumbnail.alt,
        excerpt: post.project_thumbnail_description[1].project_description
      };
    },
    fetchPosts() {
      return fetch(this.postQuery)
        .then(response => {
          let totalPosts = response.headers.get("X-WP-Total");
          this.showLoadMore =
            this.offset + this.postsPerPage < totalPosts ? true : false;
          return response.json();
        })
        .catch(error => console.error("error: " + error));
    },
    loadMore() {
      this.offset += this.postsPerPage;
      this.fetchPosts().then(postData => {
        let posts = this.createPosts(postData);
        this.project = this.project.concat(posts);
      });
    }
  }
};
</script>
<style scoped>
.more-wrap {
  width: 100%;
  text-align: center;
}
.vue-buffer {
  margin-bottom: 4rem;
  width: 100%;
}
.btn-vue:focus {
  outline: 0;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-leave-to, .list-enter /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-enter-to,
.list-leave {
  opacity: 1;
  transform: translateY(0);
}
a:focus{
  border:1px solid;
}
</style>
