<template>
  <div>
    <div
      class="project__box"
      v-on:mouseenter="hoverChanged(true)"
      v-on:mouseleave="hoverChanged(false)"
    >
      <a :href="post.url" class="projectbox__link">
        <img class="project-thumbnail lozad" :src="post.thumbnail" :alt="post.alt">

        <div v-if="index % 2 == 0" class="hoverbox-layer hoverbox-layer--odd">
          <div class="project__box-title" v-html="post.title"></div>
          <div class="project__box-desc" v-html="post.excerpt"></div>
        </div>

        <div v-if="index % 2 !== 0" class="hoverbox-layer hoverbox-layer--even">
          <div class="project__box-title" v-html="post.title"></div>
          <div class="project__box-desc" v-html="post.excerpt"></div>
        </div>

        <div class="mobile-layer">
          <div class="mobile-title">{{post.title}}</div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: ["post", "index"],
  data: function() {
    return {
      hovered: false
    };
  },
  computed: {},
  methods: {
    truncate(text, ending, maxLen) {
      if (maxLen == null) {
        maxLen = 100;
      }
      if (ending == null) {
        ending = "...";
      }
      if (text.length < maxLen) {
        return text;
      }

      return text.substring(0, maxLen - ending.length) + ending;
    },
    hoverChanged(state) {
      this.hovered = state;
    }
  }
};
</script>

<style lang="scss" scoped>
.projectbox__link:focus {
    border: 2px solid;
}
</style>
