.association-events {
    .association--events--content {
        margin-top: 30px;
        &:first-child {
          @media (min-width: 1024px) {
            margin-bottom: 68px;
          }
          }
        .event-list {
        .event-date {
            font-weight: 500;
            font-size: 14px;
            color:$date-color;
            letter-spacing:0.2px;
            line-height:20px;
            margin-bottom: 20px;
        }

        a {

            letter-spacing:0.17px;
            padding-top: 10px;
            text-decoration: none;
            color: $font-color-blue;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;

        }
        a:hover {
            text-decoration: underline;
        }


            .categorie-button {  
                margin-top: 10px;
                margin-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;         
                height: 32px;
                border: none; 
                text-decoration: none;
                color: $footer-color;
                line-height: 20px;
                font-size: 14px;
                font-weight: 500;
                background-color: $button-bg-vaalea;
                letter-spacing: 0.20px;
            }
        }

    
    }

    hr.separation-line
    {
    border-top: 1px solid #A5C9E7;
    margin-bottom: 20px;

    }
}

.all-events {
        margin-top: 45px;
        margin-bottom: 60px;
        button { 
        margin-right: 20px;
        color: $font-color-blue;
        text-decoration: none;
        text-transform:uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px; 
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        }
        img { 
        padding-left:10px;
        width: 6px; 
        }
} 
.association-events--headline {
    
    h1 {
    letter-spacing:0.2px;
    margin-top: 40px;
    }
}
.show-more {
    display: none;
    cursor: pointer;
  }