.association-grid {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap:nowrap;


.associations {
    display: block;
    .associations--headline {


            h1 {
                font-weight: 700;
                font-size: 32px;
                color:$font-color-primary-blue;
                letter-spacing:0.17px;
                margin-top: 70px;


                }
            }
    .associations--links {

        ul {
            line-height: 38px;
            font-weight: 700;
            font-size: 18px;
            color:$font-color-primary-blue;
            letter-spacing:0.19px;
            margin-top: 15px;

        }

        li {
            display: block;
            margin-bottom: 15px;
            margin-left: 0;

            a {
                text-decoration-line: underline;
                color:$font-color-primary-blue;
                line-height: 24px;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.44px;
                display:block;
            }
            a:hover {
                color: #2B4FBA;

            }
        }
    }
}


.item-grid {
    flex-grow: 1;
  }


  .content-grid--columns-2
    {
    border-left: 2px solid #A5C9E7 ;
    margin-right: 40px;
    margin-top: 90px;
    height: 1448px;
     }

    }
.mobile {
    display: none;
}

    @media (max-width: 768px) { 
        .mobile {
            display: block;
        }
        .association-grid {
            display: none;
        }
        .association-dropdown-row {
            display: grid;
            grid-template-columns: auto 50px;
            align-items: center;
            text-align: right;
            margin-bottom: 20px;
            margin-top: 20px;

        }
        .associations--headline-col1 {
            h1 {
                font-size: 30px;
                color:$font-color-primary-blue;
                letter-spacing:0.1px;
                line-height:30px;
                font-weight: 700;
                }
            }
        .mobile-dropdown-association {
            display:none;
            position: absolute;
            -moz-box-shadow: 0 0 5px 0 #666;
            -webkit-box-shadow: 0 0 5px 0 #666;
            box-shadow: 0 0 5px 0 #666;
            margin: 10px 10px 1px 10px;
            left: 0;
              ul {
                padding-left: 0.5em;
                padding-top: 5px;
                text-align: left;
                line-height: 28px;
                font-weight: 700;
                font-size: 16px;
                color:$font-color-primary-blue;
                letter-spacing:0.19px;
                background-color: #fff;
      
              }
              li {
                display: block;
                padding-bottom: 0.5em;
                margin-left: 0;
                
                a { 
                    text-decoration-line: underline;
                    color:$font-color-primary-blue;
                    line-height: 24px;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.44px;
              
                }
              }
          }
          .dropbtn {
            right: 180px;
            width: 27px;
            height: 23px;
            background-color:#D4E5F4;
            padding: 5px;
            border: none;
            cursor: pointer;
          }
          
          .dropbtn:hover, .dropbtn:focus {
            background-color:#D4E5F4;
            border: none;
            text-decoration: none;
    
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
        .mobile a:hover {background-color: #ddd;}
    
        .show {display: block;}


        hr.mobile-separation-line {
            border-top: 3px solid #A5C9E7;
            margin-top: -10px;
        }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .mobile {
        display: block;
    }
    .association-grid {
        display: none;
    }
    .association-dropdown-row {
        display: grid;
        grid-template-columns: auto 50px;
        align-items: center;
        text-align: right;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .associations--headline-col1 {
        margin-top: 20px;
        h1 {
            font-size: 30px;
            color:$font-color-primary-blue;
            letter-spacing:0.1px;
            line-height:30px;
            font-weight: 700;
            }
        }
    .mobile-dropdown-col2 { 
    .mobile-dropdown-association {
        display:none;
        position: absolute;
        -moz-box-shadow: 0 0 5px 0 #666;
        -webkit-box-shadow: 0 0 5px 0 #666;
        box-shadow: 0 0 5px 0 #666;
        margin: 10px 10px 1px 10px;
        left: 0;
          ul {
            padding-left: 0.5em;
            padding-top: 5px;
            text-align: left;
            line-height: 28px;
            font-weight: 700;
            font-size: 16px;
            color:$font-color-primary-blue;
            letter-spacing:0.19px;
            background-color: #fff;
  
          }
          li {
            display: block;
            padding-bottom: 0.5em;
            margin-left: 0;

            a { 
                text-decoration-line: underline;
                color:$font-color-primary-blue;
                line-height: 24px;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.44px;
          
            }
          }
      }
      .dropbtn {
        right: 180px;
        width: 27px;
        height: 23px;
        background-color:#D4E5F4;
        padding: 5px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color:#D4E5F4;
        border: none;
        text-decoration: none;

      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
    .mobile a:hover {background-color: #ddd;}

    .show {display: block;}
    }
    hr.mobile-separation-line {
        border-top: 3px solid #A5C9E7;
        margin-bottom: 20px;
    }

}