.association-news {
    .association--news--content {
        margin-top: 30px;

        .event-date {
            font-weight: 500;
            font-size: 14px;
            color:$date-color;
            letter-spacing:0.2px; 
            line-height:20px; 
            margin-bottom: 20px;
        }

        a {
            letter-spacing:0.17px;
            padding-top: 10px;
            text-decoration: none;
            color: $font-color-blue;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
        }
        a:hover {
            text-decoration: underline;
        }
        
            .categorie-button {  
                margin-top: 10px;
                margin-bottom: 10px;  
                padding-left: 20px; 
                padding-right: 20px;         
                height: 32px;
                border: none; 
                text-decoration: none;
                color: #AE182C;
                line-height: 20px;
                font-size: 14px;
                font-weight: 500;
                background-color: $posts-button-color;
                letter-spacing: 0.20px;
            }

    }
    hr.separation-line
    {
    border-top: 1px solid $posts-button-color ;
    margin-bottom: 20px;
    }  
}
.all-news{
    margin-top: 45px;
    margin-bottom: 60px;
    button { 
        margin-right: 20px;
        color: #002663;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    
    }
    img { 
    padding-left:10px;
    width: 6px; 
    }

}
.association-news--headline {
    h1 {
        letter-spacing:0.20px;
        margin-top: 50px;
        }
    }

    .show-more-news {
        display: none;
        cursor: pointer;
      }