*,
*::after,
*::before {
  //font-family: 'Work Sans', sans-serif;
  //font-weight: 300;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  // 1rem = 10px, 10px/16px = 62.5%
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  display: block;

}

.block-grid {
    grid-template-columns: 50% 50%;
    display: grid;
    height: 464px;
  }
  .container {
    z-index: 9999;
    position: relative;
    margin-bottom: 100px ;
  }


.default-container {
  min-height: 800px;
  /*margin-left: 210px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  max-width: 800px;
}


.base-container {
  position: relative;
  background: rgba(255, 255, 255, 1);
  min-height:100vh;

  @media (max-width: 768px) {
    margin: 0px;
    min-height:100vh;
    height: auto;
  }
}

#app {
  z-index: 8;
  position: relative;
}
#main-container {
  /* fix safari z-index */
  //transform: translate3d(0px, 0px, 1px);
  //-webkit-transform: translate3d(0px, 0px, 1px);
  z-index: 4;
}



.mobile-menu-container {
  display: none;
    @media (max-width: 768px) {
      display: block;
      margin: 0px;
      min-height:100vh;
      height: auto;
      position: relative;
      margin: 16px;
      background: rgba(255, 255, 255, 1);
      min-height:100vh;
  /*height: 8000px; /* DEBUGGGGGG POISTA */
  }
}

@media (max-width: 768px) {
.default-container {
  margin-left: auto;
  margin-top: 40px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .default-container {
    margin-left: auto;
    margin-top: 80px;
  }
}


