footer {
  position: relative;
    .footer-content-row {
      background-color:$footer-color;
      .footer-row--1 {
          display: grid;
          position: relative;
          margin: auto;
          max-width:1400px;
          grid-template-columns:673px auto 221px;

              .footer-column--1 {
                  margin-bottom: 2rem;
                  margin-left: 10px;
                  margin-top: 43px;

                  .footer-logo {
                      width: 355px;
                        }

                  .footer-address {
                    width: 235px;
                    margin-left: 5px;
                    margin-top: 33px;


                    p {
                        font-weight: 500;
                        line-height:24px;
                        font-size: 18px;
                        letter-spacing:0.5px;
                        color:$font-color-white;
                    }
                  }

                  .footer-privacy-link {
                    margin-left: 5px;
                    margin-top: 25px;

                      a {
                    text-decoration: none;
                    color: $font-color-white;
                    font-size: 16px;
                    line-height:24px;
                    font-weight: 500;
                    letter-spacing: 0.5px;

                      }

                    img {
                        width: 10px;
                        height: 10px;
                        margin-left: 10px;
                    }
                  }

                  .footer-contact-link {
                    margin-left: 5px;
                    margin-top: 10px;

                      a {
                    text-decoration: none;
                    color: $font-color-white;
                    font-size: 16px;
                    line-height:24px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                      }

                    img {
                        margin-left: 10px;
                        width: 10px;
                        height: 10px;
                    }
                  }

                .social-media-links {
                  margin-left: 5px;
                  margin-top: 30px;

                  .social-media--some-text {
                    span {
                    color: $font-color-white;
                    font-size: 16px;
                    line-height:24px;
                    font-weight: 700;
                    letter-spacing: 0.5px
                  }

                  }

                  .social-media--some-icons {
                    margin-top: 10px;

                    img {
                      margin-right:24px;
                    }
                  }

                }
              }

              .footer-column--2 {

                .footer-first-text {
                  height: 72px;
                  margin-top: 121px;
                  max-width: 500px;

                  p {
                      font-weight: 600;
                      line-height:24px;
                      font-size: 18px;
                      letter-spacing:0.56px;
                      color:$font-color-white;
                      text-align: left;
                  }
                }
                .footer-second-text {
                  height: 98px;
                  width: 449px;
                  margin-top: 24px;

                  p {
                      font-weight: 600;
                      line-height: 24px;
                      font-size: 18px;
                      letter-spacing:0.56px;
                      color:$font-color-white;
                      text-align: left;
                  }
                }

                }
              .footer-image {
                top: -38px;
                position: absolute;
              }


      }
    }

    .footer-row-image {
      height: 101px;
  }

}
@media (min-width: 1300px) and (max-width: 1400px) {
  footer .footer-content-row .footer-row--1 {
    grid-template-columns:600px auto 300px;
}
}
@media (min-width: 1200px) and (max-width: 1299px) {
  footer .footer-content-row .footer-row--1 {
    grid-template-columns:500px auto 400px;
}
}
@media (min-width: 1024px) and (max-width: 1199px) {
  footer .footer-content-row .footer-row--1 {
    grid-template-columns:400px auto 500px;
}
}
@media screen and (max-width: 768px) {
  .footer-logo img {
    width: 255px;
  }

  footer .footer-content-row .footer-row--1 {
    display: block;
    grid-template-columns:auto;
    grid-template-rows:auto;
    //width: 703px;
  }
  footer .footer-content-row .footer-row--1 .footer-column--1 {
    //margin-top: -150px;
    padding-top: 30px;
}
footer .footer-content-row .footer-row--1 .footer-image {
  top: -68px;
  right:-50px;
  width: 140px;
  height: auto;
}

footer .footer-content-row .footer-row--1 .footer-column--1 .footer-address {
  width: 235px;
  margin-left: 5px;
  margin-top: 33px;
  width: 90%;
}
footer .footer-content-row .footer-row--1 .footer-column--2 .footer-first-text {
  margin-top: 40px;
  margin-left:20px;
  width: 90%;
}
footer .footer-content-row .footer-row--1 .footer-column--2 .footer-second-text {
  margin-top: 30px;
  margin-left:20px;
  width: 90%;

}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-logo img {
    width: 255px;
  }

  footer .footer-content-row .footer-row--1 {
    display: block;
    width: 703px;
  }
  footer .footer-content-row .footer-row--1 .footer-column--1 {
    padding-top: 70px;

}
footer .footer-content-row .footer-row--1 .footer-image {
  top: -38px;
  right: -70px;
}

footer .footer-content-row .footer-row--1 .footer-column--1 .footer-address {
  width: 235px;
  margin-left: 5px;
  margin-top: 33px;
}
footer .footer-content-row .footer-row--1 .footer-column--2 .footer-first-text {
  margin-top: 40px;
  margin-left:20px;
}
footer .footer-content-row .footer-row--1 .footer-column--2 .footer-second-text {
  margin-top: 30px;
  margin-left:20px;

}
}
@media (min-width: 768px) and (max-width: 863px) {
  footer .footer-content-row .footer-row--1 .footer-image {
    top: -38px;
    right: -40px;
  }
}

@media (min-width: 1560px) {
footer .footer-content-row .footer-row--1 {
  grid-template-columns: 673px auto 100px;
}

}
