@media (min-width: 1024px) {
    .mobile-banner {
        display: none;
    }
    .banner-grid {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 446px;
        // flex-wrap: wrap;
        // grid-column-gap: 20px;
        background-position: center center;
        background-size: cover;
        justify-content: center;
        align-content: center;



    h1 {
        color:$font-color-white;
        text-align: center;
        }
    }

    .opcity-col {
        display: none;
    }


    .opacity-col-fi {
        opacity: 0.53;
        height: 446px;
        width:50%;
        position: absolute;
        background:#002663;
    }
    .opacity-col-en {
      opacity:0.44;
      height: 446px;
      margin-left: 50%;
      width:50%;
      position: absolute;
      background: #2B4FBA;
    }
    .banner-col-fi {
        position: relative;

    }
    .banner-col-en {
        position: relative;
    }
    .banner-grid--headline-fi{
        margin-top: 100px;
    }
    .banner-separation-line {
        display: none;
    }


}

// @media (max-width: 681px) {

//     .banner-col-fi {
//         left: 30px;


//     }
//     .banner-col-en {
//         left: 30px;
//     }
//         }


.banner-grid--pretext-fi {
    p {
        font-weight: 500;
        line-height:32.6px;
        font-size: 20px;
        letter-spacing:0.15px;
        color:$font-color-white;
        text-align: center;
        margin:30px 39px 30px 44px;
}
    }

.banner-grid--button {
    margin-top:18px;
    text-align: center;

}

.banner-grid--button-fi {
  width: 299px;
  height: 52px;
  border: none;
  background-color: $font-color-white;
  cursor: pointer;
  a {
    color: $font-color-primary-blue;
    font-size: 14px;
    font-weight: 700;
    text-transform : uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 50px;
    display: block;
    height: 50px;
}

  img {
      margin-left: 18px;
  }
}


.banner-grid--headline-en{
    margin-top: 100px;

}

.banner-grid--pretext-en {
    p {
        font-weight: 500;
        line-height:32.6px;
        font-size: 20px;
        letter-spacing:0.15px;
        color:$font-color-white;
        text-align: center;
        margin:30px 44px 30px 44px;
}
    }

.banner-grid--button-en {
    width: 256px;
    height: 52px;
    border: none;
    background-color: $font-color-white;
    cursor: pointer;
    a {
        color: $font-color-primary-blue;
        font-size: 14px;
        font-weight: 700;
        text-transform : uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        line-height: 50px;
        display: block;
        height: 50px;
    }

    img {
        margin-left: 18px;
    }

  }
  @media (min-width: 1024px) and (max-width: 1150px) {
    .banner-grid--pretext-en {
        font-size:18px;
    }
    .banner-grid--pretext-fi {
        font-size:18px;
    }

  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .desktop-banner {
        display: none;
    }
    .banner-grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 100%;
    position: relative;
    height: 800px;
    grid-template-rows: 50% 50%;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-content: center;
    h1 {
        color:$font-color-white;
        text-align: center;

        }
    }
    #opacity-col {
        height: 100%;
        width:100%;
        position: absolute;
        background: #2B4FBA;
        opacity: 0.53;
    }

    .banner-col {
        margin-top: 70px;
        text-align: center;
        position: relative;
        text-align: center;
        position: relative;
        display: grid;
        grid-template-rows: 50% 50%;
        height: 800px;

    }

    .banner-col-fi {
        margin-top: 20px;    }
    .banner-col-en {
        margin-top: 20px;    }


    .banner-grid--headline-fi{
        margin: auto;

    }

    .banner-grid--button {
        margin-top: 18px;
        margin-left: auto;
    }

    .banner-separation-line {
        border-top: 3px solid #ffffff;
        margin-bottom: 20px;
    }

    .banner-grid--pretext-fi {

        margin: auto;
    }

    .banner-grid--pretext-en {

        margin: auto;
    }
    .banner-grid--button-en {
        width: 299px;
        height: 52px;
        margin: auto;
    }
    .banner-grid--headline-en{
        margin: auto;

    }


}
.banner-grid--button-en:hover {
    background-color: #D4E5F4;
}
.banner-grid--button-fi:hover {
    background-color: #D4E5F4;
}


@media (max-width: 768px) {
    .container #main-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
        .banner-grid {
            display: grid;
            grid-template-columns: 100%;
            position: relative;
            height: 800px;
            background-position: center center;
            background-size: cover;
            justify-content: center;
            align-content: center;

    h1 {
        color:$font-color-white;
        text-align: center;

        }
    }

    .desktop-banner {
        display: none;
    }
    #opacity-col {
        height: 100%;
        width:100%;
        position: absolute;
        background: #2B4FBA;
        opacity: 0.53;
        visibility: visible; /* ios safari bugfix maybe */
    }


    .banner-col {
        text-align: center;
        position: relative;
        display: grid;
        grid-template-rows: 50% 50%;

    }

    .banner-col-fi {
        margin-top: 34px;
    }

    .banner-grid--button {
        margin-top: 18px;
        margin-left: auto;
    }
    .banner-grid--button-fi {
        width: 299px;
        height: 52px;
    }
    .banner-separation-line {
        border-top: 3px solid #ffffff;
        margin-bottom: 20px;
    }
    .banner-separation-line {
        border-top: 2px solid #ffffff;
    }


    .banner-grid--headline-en {
      margin-top: 40px;
    }

    .banner-grid--pretext-en p {
      margin: 20px 44px 20px 44px
    }


}
