.content-grid-home-page {
    display:grid;
    grid-template-columns: 400px auto;
    justify-items: start;


    .content-grid--columns-3 {

        .associations-introduction {
            margin-top: 90px;

            p {
                    font-weight: 500;
                    line-height:32px;
                    font-size: 20px;
                    letter-spacing:0.15px;
                    color:$font-color-blue;
                    text-align: left;
                    margin-top: 20px;


            }
        }



        .association-citation {
            margin-top: 100px;
            width: 720px;

         }
         @media (min-width: 786px) {
         .div-vertical-line {
            position: absolute;
            width: 40px;
            height: 180px;
            z-index: 1;
            border-right: 3px solid #A5C9E7;
            margin-top: 10px;
            background-color: white;
        }
    }
            .citation-content {
                margin-left: 53px;
                margin-right: 20px;

            li {
                text-decoration: line-through;

            }
            h3 {
                font-weight: 500;
                letter-spacing: 0.17;
                color:$nav-link-color;
                font-size: 24px;
            }

            p {

                font-weight: 400;
                line-height:24px;
                font-size: 18px;
                letter-spacing:0.1px;
                color:$font-color-blue;
                text-align: left;
                margin-top: 30px;

            }
        }

    }
}
@media (max-width: 650px) {
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        margin-top: 100px;
        max-width: 450px;

    }
}

@media (max-width: 768px) {
    .content-grid-home-page {
         display: block;
    }

    .content-grid-home-page .content-grid--columns-3 .associations-introduction {
        margin-top: 40px;
        p {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.20px;
        }
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        max-width: 590px;


    }

    #controls img {
        width: auto;
        height: auto;
    }
    .citation-content {
        max-width: 500px;

    h3 {
        font-size: 24px;
    }


}
    .div-vertical-line {
        position: absolute;
        width: 30px;
        height:175px;
        z-index: 1;
        background-color: white;
        .vertical-line {
            border-left: 3px solid #A5C9E7;
            height:175px;
            margin-left: 26px;
            margin-top: 15px


        }
    }

}

@media (max-width: 450px) {
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        margin-top: 100px;
        max-width: 400px;

    }
}


@media (min-width: 900px) and (max-width: 1023px) {
    .content-grid-home-page {
         display: block;
    }

    .content-grid-home-page .content-grid--columns-3 .associations-introduction {
        margin-top: 40px;
        p {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.20px;
        }
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        margin-top: 100px;
        max-width: 814px;

    }


}

@media (min-width: 768px) and (max-width: 899px) {
    .content-grid-home-page {
        display: block;
   }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        max-width: 600px;
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation .citation-content {
        max-width: 550px;
    }
     h3 {
         font-size: 28px;
     }
}
@media (max-width: 684px) {
    .content-grid-home-page {
        display: block;
   }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        max-width: 400px;
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation .citation-content {
        max-width: 350px;
    }

}
@media (max-width: 384px) {
  .content-grid-home-page .content-grid--columns-3 .association-citation {
      max-width: 88vw;
  }
  .content-grid-home-page .content-grid--columns-3 .association-citation .citation-content {
      max-width: 88vw;
  }
  #controls, .div-vertical-line, .tns-nav {
  }
  .tns-nav {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
.content-grid-home-page {
    grid-template-columns: 350px auto;
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        margin-top: 100px;
        width: 570px;
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation .citation-content {

        width: 520px;
    }
    #controls img {
        width: auto;
        height: auto;
    }
    .content-grid-home-page .content-grid--columns-3  {
        max-width: 600px;
    }

}


@media (min-width: 1151px) and (max-width: 1192px) {
    .content-grid-home-page .content-grid--columns-3  {
        max-width: 700px;
    }
    .banner-grid--headline-en {
        h1 {
            font-size:42px;

        }
    }
        .banner-grid--headline-fi {
            h1 {
                font-size:42px;

            }

    }
    .content-grid-home-page .content-grid--columns-3 .associations-introduction {
        margin-top: 110px;
        margin-left: -15px;
    }
    .content-grid-home-page .content-grid--columns-3 .association-citation {
        margin-top: 100px;
    }
    #controls img {
        width: auto;
        height: auto;
    }

}

@media (min-width: 1101px) and (max-width: 1150px) {
    .content-grid-home-page .content-grid--columns-3  {
        width: 600px;
    }
    .banner-grid--headline-en {
        h1 {
            font-size:42px;

        }
    }
        .banner-grid--headline-fi {
            h1 {
                font-size:42px;

            }
}
}
@media (min-width: 1024px) and (max-width: 1100px) {
    .content-grid-home-page .content-grid--columns-3  {
        width: 600px;
    }
    .banner-grid--headline-en {
        h1 {
            font-size:42px;

        }
    }
        .banner-grid--headline-fi {
            h1 {
                font-size:42px;

            }
}
}
