.page-content {
  & > p a, .wp-block-group__inner-container p a {
    display: inline-block;
    position: relative;
    text-decoration: underline;
  }
  /*
  //effect disabled
  & > p a::before, .wp-block-group__inner-container p a::before {
      content: "";
      background: #E0E7FC;
      width: 100%;
      height: 20%;
      margin-bottom: 4px;
      bottom: 0;
      position: absolute;
      z-index: -1;
      -webkit-transition: height 0.2s ease;
      transition: height 0.2s ease;
  }
  & > p a:hover::before, .wp-block-group__inner-container p a:hover::before {
      height: 80%;
  }
  */
}


/* an arrow after every link that opens in a new window */

a.new-window:after, a.new:after, .page-content p > a[target="_blank"]:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='14px' viewBox='0 0 14 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape%3C/title%3E%3Cg id='Front-Page' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD-Copy-2' transform='translate(-1265.000000, -4472.000000)' fill='%232D5FEB' fill-rule='nonzero'%3E%3Cpath d='M1263.93182,4479.90573 L1277.82576,4479.90573 L1274.18939,4483.45471 C1273.82576,4483.80961 1273.82576,4484.37893 1274.18939,4484.73383 C1274.37121,4484.91128 1274.60606,4485 1274.84848,4485 C1275.09091,4485 1275.32576,4484.91128 1275.50758,4484.73383 L1280.72727,4479.63956 C1281.09091,4479.28466 1281.09091,4478.71534 1280.72727,4478.36044 L1275.50758,4473.26617 C1275.14394,4472.91128 1274.56061,4472.91128 1274.19697,4473.26617 C1273.83333,4473.62107 1273.83333,4474.19039 1274.19697,4474.54529 L1277.83333,4478.09427 L1263.93182,4478.09427 C1263.41667,4478.09427 1263,4478.50092 1263,4479.0037 C1263,4479.50647 1263.41667,4479.90573 1263.93182,4479.90573 Z' id='Shape' transform='translate(1272.000000, 4479.000000) rotate(-45.000000) translate(-1272.000000, -4479.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 80%;
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  content: " ";
  margin-left: 6px;
  color: transparent;
  background-repeat: no-repeat;

}
