/* helper */

/*

REMEMBER TO ADD INTO FUNCTIONS PHP:

add_filter('wpcf7_autop_or_not', '__return_false');
define('WPCF7_AUTOP', false );


*/

.membership-container {
  min-height: 800px;
}

.application-container {
  width: 482px;
  margin-left:9px;
}

/* hidden-start added with js at init state */
form .hidden, form .hidden-start {
  display: none !important;
}


.wpcf7-form {

  margin-left: -8px; /* move form to the left */

  /*must reset p here! */
  p {
    margin: 0px;
    padding: 0px;
    color: #2D2D2D;
    margin-block-start: 4px;
    margin-block-end: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  label {
    margin-top: 28px;
    color: #002663;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 32px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  input[type=text], select, textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 48px;
    background-color: #F7F7F8;
    border: none;
    outline: none;
    max-height: 120px;
    margin-bottom: 24px;
    padding-left: 8px;
  }

  input[type=text], select {
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    width: 100%;

  }

  input[type=radio], .wpcf7-radio span label {
    cursor: pointer;
    color: #2D2D2D;
  }

  input[type="radio"]:checked+span {
   font-weight: 700;
  }

  .wpcf7-radio > .wpcf7-list-item {
    display: block;
    width: 100%;
    clear: both;
  }

  span.wpcf7-list-item {
    margin-left: 0px;
  }

  input[type=submit] {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 68px;

    display: block;
    max-width: 100%;
    width: 175px;
    height: 48px;
    background-color: #fff;
    text-transform: uppercase;
    color: #002663;
    border: 1px solid #002663;
  }

  h4 {
    margin-top: 10px;
  }



}


.wpcf7 form.sent .wpcf7-response-output {
  border-color: #a5c9e7 !important;
}

@media (max-width: 768px) {
  .application-container {
    width: calc(100% - 18px);
    margin-left: 9px;
  }

  .wpcf7 input[type=checkbox] {
    display: inline-block;
  }

  .wpcf7 input[type=submit] {
    margin-bottom: 18px;
  }
  .wpcf7 {
    padding-bottom: 68px;
  }

  .membership-container {
    min-height: 400px;
  }

  .wpcf7 form.sent .wpcf7-response-output {
    margin-bottom: 80px;

  }



.tradeassociation select, .wpcf7-form .tradeassociation select {
  overflow-x: hidden;
  max-width: 90vw;
}

}


@media (max-width: 382px) {
  .tradeassociation select, .wpcf7-form .tradeassociation select {
    overflow-x: hidden;
    max-width: 90vw;
    width: 90vw;
  }

}
