
.header-grid {
  margin-bottom: 30px;
  max-height: 91px;

    @media (max-width: 768px){
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .header-row--first {
      grid-template-columns: auto min-content;
      display: grid;

    #association-logo { 
        @media (max-width: 768px) {
          display: block;
          grid-template-rows: unset;
        }
      img {
          width: 230px;
          cursor: pointer;
      }
    }

    #finncham-logo img {
        width: 142px;
        height: 48px;
        @media (max-width: 768px) {
          display: none;
        }

    }

    .mobile-nav-open-wrapper {
      display: none;
    }

    /* MOBILE NAV */
    @media (max-width: 768px) {
      padding-top: 0px;
      //padding-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      .mobile-nav-open-wrapper {
        display: block;
      }
    }
    }


    .header-row--last {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
    
      /* MOBILE NAV */
      @media (max-width: 768px) {
        display: none; /*mobile nav shows*/
      }

    .header-buttons {
      margin-bottom: 12px;
      text-align: right;

    }

    .member-button-fi {
      width: 173px;
      height: 48px;
      border: none;
      text-decoration: none;
      color: $font-color-primary-blue;
      line-height: 24px;
      font-size: 14px;
      font-weight: 600;
      text-transform : uppercase;
      background-color: $button-bg-vaalea;
      letter-spacing: 0.44px;
      margin-right: 14px;
      cursor: pointer;
    }
    .member-button-fi:hover {
      background-color:#BCD4E8;
    }
    .member-button-en {
      width: 183px;
      height: 48px;
      border: none;
      text-decoration: none;
      color: $font-color-primary-blue;
      line-height: 24px;
      font-size: 14px;
      font-weight: 600; 
      text-transform : uppercase;
      background-color: $button-bg-vaalea;
      cursor: pointer;
    }
    .member-button-en:hover {
      background-color:#BCD4E8;
    }
    }

    #nav-main ul {
      list-style: none;
      position: relative;

      li {
        display: inline-block;
        position: relative;
        margin-left: 0px;


        a {
          color: $nav-link-color;
          text-decoration: none;
          margin-right: 20px;
          line-height: 24px;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.56px;
        }
      }
    .arrow-down{
      margin-right: 20px;
      margin-left: -18px;
    }

    .dropdown-content {
      display:none;
      position: absolute;
      overflow: hidden;
      // margin-top: 10px;
      -moz-box-shadow: 0 0 5px 0 #666;
      -webkit-box-shadow: 0 0 5px 0 #666;
      box-shadow: 0 0 5px 0 #666;
      padding-top: 5px;
      z-index:100;
      background:#FFF;

        ul {
          padding-left: 5px;
          line-height: 28px;
          font-weight: 700;
          font-size: 18px;
          color:$font-color-primary-blue;
          letter-spacing:0.19px;
          background-color: #fff;
          width: 350px;
        }
        li {
          margin-bottom: 15px;
          margin-left: 0;
          display: block;

          a { 
              text-decoration-line: underline;
              color:$font-color-primary-blue;
              line-height: 24px;
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.44px;
        
          }
        }
    }
    
  .dropdown:hover .dropdown-content {
      display: block;

    }
}
}
  /* menu hover */
  #nav-main .current_page_item a:after {
      content: "";
      position: absolute;
      background:#A5C9E7;
      width: 84%;
      left: 0;
      height: 3px;;
      bottom: -5px;
     
  }
  
  .menu-item:hover:after {
    width: 84%;
    left: 0;
  }
  
  .menu-item:after {
      content: "";
      position: absolute;
      background:#A5C9E7;
      width: 0;
      height: 3px;
      bottom: -5px;
  }

 
  @media (min-width: 768px) and (max-width: 1023px) {
    .header-grid .header-row--last {
      display: block;
      //align-items: center;
  }
  .header-grid #nav-main {
    position: absolute;
    margin-top: 50px;}

  .header-buttons {
    display: grid;
    grid-template-rows: 50% 50%;

  }

  .header-grid .header-row--last .member-button-fi {
    width: 128px;
    height: 34px;
    font-size: 10px;
    letter-spacing: 0.31px;
    margin-right: auto;
    margin-bottom: 15px;

}

.header-grid .header-row--last .member-button-en {
  width: 128px;
  height: 34px;
  font-size: 10px;

  }
  .header-grid {
    max-height: 110px;
}
  }

  
  
  