/* MOBILE NAV */

@media (min-width: 768px) {
    #overlay, #overlay-input{
      display: none;
    }
  }

  @media (max-width: 768px) {

      #overlay-button {
        position: absolute;
        right: 0.5em;
        top: 0.75em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;

        .mobile-alfons-logo {
          padding-top: 20px;
          position: absolute;
          right: 0.5em;
          top: 0.75em;
          padding: 26px 11px;
          user-select: none;
          cursor: pointer;
          img {
            max-width: 105.6px;
            max-height: 27.6px;
          }
        }
        span {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color:#002663;
            position: relative;
            display: block;
            transition: all .2s ease-in-out;
            &:before {
              top: -10px;
              visibility: visible;
            }
            &:after {
              top: 10px;
            }
            &:before, &:after {
                height: 4px;
                width: 35px;
                border-radius: 2px;
                background-color:#002663;
                position: absolute;
                content: "";
                transition: all .2s ease-in-out;
            }
          }
          &:hover span, &:hover span:before, &:hover span:after {
            background: #333332;
          }
      }

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked ~ #overlay {
        visibility: visible;
      }

      input[type=checkbox]:checked ~ #overlay-button {
        &:hover span, span{
          background: transparent;
        }
        span {
          &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
          }
          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }

      #overlay {
        height: 100vh;
        width: 100vw;
        background: #FFFFFF;
        z-index: 2;
        visibility: hidden;
        position: fixed;
        overflow-y: scroll;
        &.active {
          visibility: visible;
        }
        ul {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding-left: 0;
          list-style-type: none;
          li {
            padding: 1em;

            a {
                color: $font-color-blue;
                text-decoration: none;
                line-height: 32px;
                font-weight: 500;
                font-size: 24px;
              &:hover {
                color: #333332;
              }
            }
          }
        }
    .home-page-link {
        margin-top: 50px;
    }

    #association-logo {
      img {
        width: 230px;
        cursor: pointer;
        margin: 21px 14px 35px 24px;
      }
    }
    .mobile-header-buttons {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;

      .mobile-member-button-fi {
        width: 183px;
        height: 48px;
        border: none;
        text-decoration: none;
        color: $font-color-primary-blue;
        line-height: 24px;
        font-size: 14px;
        font-weight: 600;
        text-transform : uppercase;
        background-color: $button-bg-vaalea;
        letter-spacing: 0.44px;
        cursor: pointer;
        margin-top: 20px;
      }
      .mobile-member-button-fi:hover {
        background-color:#BCD4E8;        }
      .mobile-member-button-en {
        width: 183px;
        height: 48px;
        border: none;
        text-decoration: none;
        color: $font-color-primary-blue;
        line-height: 24px;
        font-size: 14px;
        font-weight: 600;
        text-transform : uppercase;
        background-color: $button-bg-vaalea;
        letter-spacing: 0.44px;
        cursor: pointer;
        margin-top: 20px;

      }
      .mobile-member-button-en:hover {
        background-color:#BCD4E8;      }

    .mobile-finncham-logo{
        margin-top: 40px;
        width: 142px;
        height: 48px;

        }
    }
    .mobile-dropdown-content {
        display:none;
        position: relative;
        -moz-box-shadow: 0 0 5px 0 #666;
        -webkit-box-shadow: 0 0 5px 0 #666;
        box-shadow: 0 0 5px 0 #666;
        max-width: 90vw;
        margin: 10px auto 1px auto;
        /* left: 0; */
          ul {
            text-align: left;
            line-height: 28px;
            font-weight: 700;
            font-size: 16px;
            color:$font-color-primary-blue;
            letter-spacing:0.19px;
            background-color: #fff;
            padding-left: 10px;
            padding-top: 10px;

          }
          li {
            display: block;
            padding-bottom: 10px;
            margin-left: -17px;
            padding-top: 0;

            a {
                text-decoration-line: underline;
                color:$font-color-primary-blue;
                line-height: 24px;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.44px;

            }
          }
      }
      .dropbtn {
        position: relative;
        top: -2em;
        right: -139px;
        width: 27px;
        height: 23px;
        background-color:#D4E5F4;
        padding: 5px;
        border: none;
        cursor: pointer;
      }

      .dropbtn:hover, .dropbtn:focus {
        background-color:#D4E5F4;
        border: none;
        text-decoration: none;

      }

      .dropdown {
        position: relative;
        display: inline-block;
      }
    .mobile-dropdown {
      height: 0px;
    }

    .mobile-dropdown a:hover {background-color: #ddd;}

    .show {display: block;}
      }

    }
