.policy-title {
  font-size: 6rem;
  padding: 4rem 0;
  text-align: center;
}

.policy-subtitle {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.policy-content {
  padding-bottom: 2rem;

  p {
    font-size: 1.8rem;
  }
}
