
/*RESPONSIVE CONTENT CLASSES */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

}

@media (max-width: 576px) {
    .container.article {
        max-width: 100%;
    }
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
        //max-width: 89vw;
    }

}

@media (max-width: 576px) {
   .container-sm {
        //max-width: 540px;
    }
}

@media (max-width: 768px) {

    .article-body.container {
        width: 100%;
    }
    .article-logo-inner {
        margin-bottom: 42px;
        margin-left: -11px;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h2 {
        font-size: 28px;
        line-height: 36px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
    h5 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }

    // h1,h2,h3,h4,h5,h6 {
    //   word-break: break-word;
    // }

}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }

    .container.article {
        max-width: 800px; /* ?? */
    }

    .container .page-800, .storytypes.page-800, #app .page-800 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

    .container.article {
        max-width: 917px;
    }

    .container .page-800, .storytypes.page-800, #app .page-800 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1200px;
    }
    .container.article {
        max-width: 800px; /* ?? */
    }

    .container .page-800, .storytypes.page-800, #app .page-800 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 1024px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}


