// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');
/*

font-family: 'Work Sans', sans-serif; // H1-H4
font-family: 'Roboto Mono', monospace; // H5, TEXT - CONTENT, NAVIGATION, FOOTER

*/

h1,
h2,
h3,
h4 {
  font-family: 'Work Sans', sans-serif;

}

h1 {
  font-size: 48px;
  line-height: 48px;
  color: #1F232D;
  color: $nav-link-color;
  font-weight: 800;
  letter-spacing:0.2px;
  text-align: left;
  margin-top:0;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.17px;
  font-weight: 700;
  color: $nav-link-color;

 }

h3 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.17;
  color: $nav-link-color;
}

h4 {
  color: $font-color-blue;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.17;
  line-height: 28px;

}

h5 {
  color: $font-color-blue;
  letter-spacing: 0.8;
  font-size: 20px;
  font-weight: 700;
}


body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $font-color1;
  letter-spacing: 0px;
}

.container {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0.6em;
      margin-bottom: 0.28em;
    }

    p {
      margin-top: 8px;
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      color: #002663;
      letter-spacing: 0.1px;
      text-align: left;
      line-height: 28px;
    }

    a {
      text-decoration-line: none;
      color: #002663;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.44px;
    }

    caption {
      font-size: 14px;
    }

    .article-content li:not(.tns-item), .page-content li {
      margin-left: 20px;
    }


  }


