// COLORS
$font-color-primary-blue:#002663;
$font-color-primary-sand:#E8E2D5;
$button-bg-vaalea: #D4E5F4;

$font-color-black: #000000;
$font-color-white: #FFFFFF;
$nav-link-color: #17274A;

$font-color-blue:#002663;
$footer-color:#1A387F;
$separation-line-color:#A5C9E7; 
$posts-button-color: #FAE2E5;


$font-color1: #2a2a2a;
$link-color1: #2a2a2a;
$date-color: #2D2D2D;

$button-bg-light: #FAEAE4;
$button-bg-light-hover: #FDD7C8;
$button-light-text: #2B4FBA;
$button-light-text-hover: #2B4FBA;


$button-bg-dark: #2B4FBA;
$button-bg-dark-hover: #203A89;
$button-dark-text: #FFFFFF;
$button-dark-text-hover: #FFFFFF;


$color-blue-dark-1: #525d67;
$color-blue-dark-2: #2c3742;
$color-footer: #2D5FEB;


