/*
css for fixing wordpress standard gutenberg blocks

*/

.is-style-blockquote-noname {
  width: 80%;
  margin-left: 10%;
  color: #2A2A2A;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.1;
  margin-bottom: 30px;
  margin-top: 30px;

  &>p {
    display: inline;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    /*background: #E5EEFE; */
    background: rgb(229,238,254);
    background: linear-gradient(0deg, rgba(229,238,254,1) 0%, rgba(229,238,254,1) 79%, rgba(255,255,255,0) 79%);

    /*box-shadow: 10px 10px 0 #E5EEFE, -10px 10px 0 #E5EEFE;*/
  }
  &>cite {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    display: block;
  }
  @media (min-width: 768px) {
    width: 533px;
    margin-left: 100px;
  }
}


.container figure.wp-block-image {
  margin: 40px 0px 40px 0px;
  img {
    height: auto;
    max-width: auto;
  }

}

.container figure {
  margin: 40px 0px 40px 0px;
  img {
    height: auto;
    max-width: auto;
  }

}

.container .page-content ul {
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 32px;

  li {
    line-height: 24px;
    color: #002663;
    padding-left: 12px;
  }
}
