@media (min-width: 1400px) {
  .parallax__items {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }

  .parallax_item {
    width: 92%;
    height: 800px;
    text-align: center;
    overflow: hidden;
    background: transparent;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }
  .parallax_item:nth-child(1) {
    background-position: top left;
    top: 294px;
    left: 259px;
  }

  .parallax_item:nth-child(2) {
    background-position: top right;
    right: 99px;
    top: 661px;

  }
  .parallax_item:nth-child(3) {
    background-position: top left;
    top: 1810px;
    left: 83px;
  }
  .parallax_item:nth-child(4) {
    background-position: top left;
    top: 2220px;
    left: 98px;

  }
}
@media (min-width: 1200px) and (max-width: 1399px)
{.parallax__items {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.parallax_item {
  width: 92%;
  height: 800px;
  text-align: center;
  overflow: hidden;
  background: transparent;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.parallax_item:nth-child(1) {
  background-position: top left;
  top: 268px;
  left: -55px;
}

.parallax_item:nth-child(2) {
  background-position: top right;
  right: -80px;
  top: 682px;

}
.parallax_item:nth-child(3) {
  background-position: top left;
  top: 1696px;
  left: -255px;
}
.parallax_item:nth-child(4) {
  background-position: top left;
  top: 2110px;
  left: -128px;
}
}
@media (min-width: 1024px) and (max-width: 1199px)
{.parallax__items {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.parallax_item {
  width: 92%;
  height: 800px;
  text-align: center;
  overflow: hidden;
  background: transparent;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.parallax_item:nth-child(1) {
  background-position: top left;
  top: 275px;
  left: -137px;
}

.parallax_item:nth-child(2) {
  background-position: top right;
  right: -69px;
  top: 651px;

}
.parallax_item:nth-child(3) {
  background-position: top left;
  top: 1731px;
  left: -206px;
}
.parallax_item:nth-child(4) {
  background-position: top left;
  top: 2110px;
  left: -135px;

}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .parallax__items {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.parallax_item {
  width: 92%;
  height: 800px;
  text-align: center;
  overflow: hidden;
  background: transparent;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.parallax_item:nth-child(1) {
  background-position: top left;
  top: 650px;
  left: -146px;
}

.parallax_item:nth-child(2) {
  background-position: top right;
  right: -123px;
  top: 1202px;
};

.parallax_item:nth-child(3) {
  background-position: top left;
  top: 1835px;
  left: -247px
}
.parallax_item:nth-child(4) {
  background-position: top left;
  top: 2277px;
  left: -133px;

}
}
@media (max-width: 768px){
  .parallax__items {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.parallax_item {
  width: 92%;
  height: 800px;
  text-align: center;
  overflow: hidden;
  background: transparent;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.parallax_item:nth-child(1) {
  background-position: top left;
  top: 118px;
  left: 480px;
}

.parallax_item:nth-child(2) {
  background-position: top right;
  right: -84px;
  top: 708px;

}
.parallax_item:nth-child(3) {
  display:none;
  background-position: top left;
  top: 1777px;
  left: -231px;
}
.parallax_item:nth-child(4) {
  display:none;
  background-position: top left;
  top: 2147px;
  left: -165px;

}
}

body.page-id-6143 .parallax_item, body.page-id-64 .parallax_item {
  opacity: 0;
}
