.sidebar-grid {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap:nowrap;
}
.sidebar--links {
    max-width: 350px;
    li {
      display: inline-block;
      margin-left: 0px;

    } 
    a {
        text-decoration: none;
        color:#17274A;
        line-height: 24px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1px;
        text-transform:uppercase;
        }
        a:hover {
          border-bottom: 3px solid #A5C9E7; 
        } 

       .active {
        border-bottom: 3px solid #A5C9E7;  
        }
        
        
  }




.item-grid {
    flex-grow: 1;
  }

  .event-content-grid--columns-2
    {
    border-left: 2px solid #A5C9E7 ;
    max-height: 800px;
    margin-left: 20px;


    }

hr.link-separation-line {
    border-top: 1px solid #E8E8E8;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 340px;

}
.membership-button{
  display:none;
}



.sidebar-details {
  max-width: 350px;
  margin-top: 50px;
  color: #002663;


  img {
    max-width: 80%;
    max-height: 300px;
    margin-top: 48px;
  }

  &--maintitle {
    font-weight: 800 !important;
  }

  &--subtitle {
    font-weight:500 !important;

  }

}



//id="sidebar" class="sidebar--link sidebar-item"
 /* menu hover */
 .sidebar--links .current_page_item a:after {
  content: "";
  position: absolute;
  background:#A5C9E7;
  width: 84%;
  left: 0;
  height: 3px;;
  bottom: -5px;
 
}

.item:hover:after {
    width: 80%;
    left: 0;
  }
  
  .item:after {
      content: "";
      position: absolute;
      background:#A5C9E7;
      width: 0;
      height: 3px;
      bottom: -5px;
      -webkit-transition: width .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease
  }



.membership-button{
  display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    width: 205px;
    height: 52px;
    color: #002663;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FFF;
    cursor: pointer;
    border-color: #002663;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      text-decoration-line: none;
    }
    img {
      margin-left: 14px;

    }
  }

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar--links {
    max-width: 310px;
}
hr.link-separation-line {  
  max-width: 290px;

}

.membership-button{
  display: block;
}
 
}


@media (max-width: 768px){
  .sidebar--links {
    max-width: 100%;
}
hr.link-separation-line {  
  max-width: 100%;

}
}