
.content-grid-sub-page {
    display:grid;
    grid-template-columns: 400px auto;

}

.banner-grid-event {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 350px;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-content: center;
    h3 {
        color: $font-color-white;
        letter-spacing: 0.17px;
        text-align: center;
        }

    h4 {
        color: $font-color-white;
        letter-spacing: 0.19px;
        text-align: center;
    }

}



.banner--titles {
    position: relative;
    align-self: center;
}

#association-banner-opacity {
    background:#2C2C2C;
    position: absolute;
    width:100%;
    height: 350px;
    opacity: 0.20;
    visibility: visible; /* ios safari bugfix maybe */
}


.path-link, .path-link a::after {
    margin-top: 12px;
    margin-bottom: 25px;
    color: #2B4FBA;
    line-height: 20px;
    font-weight:500;
    font-size: 14px;
    letter-spacing: 0.20px;
    text-decoration-line: none !important;
}

.single-event--content {
    h2 {
        color:$nav-link-color;
        letter-spacing:0.17px;
        line-height:48px;
        margin-bottom: 10px;
    }

    .single-event--date--cat {
        font-weight: 500;
        font-size: 14px;
        color:$date-color;
        letter-spacing:0.2px;
        line-height:20px;
        margin-top: 10px;

    }
}

.association--content{
    margin-top: 20px;
}

.news-div {
    margin-top: 80px;
}
.events-div {
    margin-top: 80px;
}

.event-content-grid--columns-3 {
    margin-top: -10px;

}

.article-body {
    color: $font-color-blue;
    p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.link-all-events {
    margin-top: 60px;
    margin-bottom: 60px;
    a {
    margin-right: 20px;
    color: $font-color-blue;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;

    }
    img {
    margin-right: 10px;
    padding-left:2px;
    width: 6px;
    }

}


@media (min-width: 768px) and (max-width: 1023px) {

.content-grid-sub-page {
    display:grid;
    grid-template-columns: 310px auto;
    grid-gap: 10px;
}

}
@media (max-width: 768px) {
.content-grid-sub-page {
    display: block;
}
.event-content-grid--columns-2
{
 display:none;
}
.banner-grid-event {
    h3 {
        font-size:30px;
        letter-spacing: 0.1px;
        line-height:30px;
        font-weight: 700;
        margin-bottom: 10px;

    }
    h4 {
        font-size:20px;
        letter-spacing: 0.14px;
        font-weight: 600;
        line-height:24px;

    }
}
.single-event--content {
    h3 {
        font-size:32px;
        letter-spacing: 0.13px;
        line-height:40px;
        font-weight: 800;
        color: #000000;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    h4 {
        font-size:28px;
        letter-spacing: 0.2px;
        line-height:36px;
        font-weight: 700;
        color: #17274A;
    }

}

.single-event--content h2 {
  line-height: 32px;
}

}



